@model ViewModels.Bugs.IndexPageViewModel

<p><a asp-action="CreatePage" class="btn btn-info float-right">Add</a></p>

<h1 class="display-4">Open Bugs</h1>
<ul id="bugs">
    @foreach(var bug in Model.Bugs)
    {
        <li><a asp-action="DetailPage" asp-route-id="@bug.Id">@bug.Title</a></li>
    }
</ul>