@model ViewModels.Home.IndexPageViewModel

<h1 class="display-4">Open Bugs</h1>
<ul id="bugs">
    @foreach(var bug in Model.Bugs)
    {
        <li><a asp-action="DetailPage" asp-route-id="@bug.Id">@bug.Title</a></li>
    }
</ul>